
#MainContent {
  position: relative;
  margin-top: 5px;
  width: 100%;
}

/* We're showing 2 columns, each with 3 items. Items are specified column-first */
.maingrid {
	display: grid;
	width: 50%;
	grid-template-columns:1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-auto-flow: column;
	justify-items: center;
}

.columnTitle {
  position: relative;
  text-align: center;
  font-size: 140%;
  margin-top: 15px;
}

.colContainer {
	width: 100%;
}

.fields {
	position: relative;
	display: inline-block;
	border-radius: 4px;
	text-align: center;
	padding: 8px;
	width: 40%;
	margin: 5px;
	transition: all 0.15s linear;
}

.playBut {
	background-color: #e4dcfa;
	border: 1px solid #4c1152;
	color: #070222;
}

.outFld {
	width: 50%;
	border-style: none;
	border-width: 2px;
	border-color: black;
}

.showResult {
	border-style: solid;
}

.playBut:hover {
  background-color: #c9b2fd;
  color: #141313;
  border-color: #f8d4f8;
}

